@font-face {
  font-family: "Droid Sans";
  src: url ("./fonts/droidsans/droidsans.woff2") format("woff2"),
    url ("./fonts/droidsans/droidsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Droid Sans";
  src: url ("./fonts/droidsans/droidsans-bold.woff2") format("woff2"),
    url ("./fonts/droidsans/droidsans-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* use viewport-relative units to cover page fully */
body {
  /* height: 100vh; */
  /* width: 100vw; */
}

#root {
  height: 100%;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
